.functioning {
  padding: 50px 20px;

  h2 {
    padding-bottom: 30px;
  }

  .cta {
    @include center-flex;
    margin-bottom: 25px;
    cursor: pointer;

    &__number {
      @include center-flex;
      border-radius: 100%;
      background: $colour-primary;
      color: #fff;
      width: 25px;
      height: 25px;
      font-size: 16px;
      z-index: 99;
    }

    &__content {
      @include cta-functioning;
      background: $colour-grey;

      & svg {
        @include cta-svg;
        color: rgb(135, 135, 135);
      }
    }

    &__content--purple {
      @include cta-functioning;
        background: #9256dc22;

        & svg {
          @include cta-svg;
          color: $colour-primary;
        }
    }
  }
}