.location {
  width: 100vw;
  letter-spacing: .5px;

  form {
    @include center-flex;
    height: 50px;
    background: #e5e5e5;
    box-shadow: 0px 4px 3px -1px #cececebf inset;


    label {
      font-size: 18px;

      svg {
        padding-bottom: 5px;
      }
    }

    input {
      border: none;
      font-size: 16px;
      text-align: center;
      background: transparent;
      outline: none;
      margin-left: -10px;
    }
  }

  .description {
    background: $colour-grey;
    padding: 45px 0;
    text-align: center;
    font-size: 18px;

    &__title {
      padding: 0 40px 20px;
    }

    &__txt {
      font-weight: 300;
    }
  }
}