.menu-img {
  width: 100%;
  height: 250px;
  z-index: -1;
  position: absolute;
  object-fit: cover;
}

.menu {
  background: $colour-grey;
  border-radius: 40px 40px 0 0;
  margin-top: 200px;
  width: 100%;
  padding: 20px 20px 40px;

  @media screen and (min-width: 768px) {
    width: auto;
    margin: 200px 10% 80px;
    border-radius: 40px;
    padding: 20px 20% 40px;
  }

  @media screen and (min-width: 1500px) {
    margin: 200px 15% 80px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-family: $title-font;
      font-size: 26px;
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }

  &__categories {
    width: 100%;

    .category {
      font-weight: 300;
      letter-spacing: .5px;
      margin: 40px 0 20px;
      position: relative;
      @include slide-right;

      &::after {
        content: "";
        width: 40px;
        border: 2px solid $colour-tertiary;
        position: absolute;
        left: 0;
        bottom: -7px;
      }
    }

    .item {
      background: #fff;
      border-radius: 15px;
      box-shadow: $the-box-shadows;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      margin-bottom: 20px;
      @include slide-top;
      overflow: hidden;

      input {
        appearance: none;
        width: 100%;
        height: 65px;
        border-radius: 1rem;
        position: absolute;
        cursor: pointer;
        top: 0;

        &:checked~.item__icone-check {
          margin-right: 0;
          transition: .5s ease;
        }

        &:checked~.item__icone-check svg {
          margin-right: 0;
          transition: .5s ease;
          transform: rotate(360deg);
        }
      }

      &__container {
        width: 100%;
        padding: 0 20px 0 10px;
        min-height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;

        .dish {
          line-height: 1.4;
          padding: 10px;
          min-width: 80%;

          h3 {
            font-weight: 500;
            font-size: 17px
          }

          p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 15px;
            font-weight: 300;
          }
        }

        .price {
          font-weight: 500;
          margin-bottom: -25px;
        }
      }

      &__icone-check {
        @include center-flex;
        background: $colour-tertiary;
        width: 80px;
        margin-right: -80px;
        transition: 0.5s ease;
        border-radius: 0 15px 15px 0;

        svg {
          color: $colour-tertiary;
          padding: 5px;
          border-radius: 50%;
          background: white;
          transition-duration: 0.5s;
        }
      }
    }
  }

  button {
    @include center-flex;
    margin-top: 50px;
  }
}