.restaurants {
  background: $colour-grey;
  padding: 50px 20px;

  h2 {
    padding-bottom: 30px;
  }

  .restaurants-container {
    width: 100%;

    .card-link {
      text-decoration: none;
      color: #333;
    }

    .card {
      width: 100%;
      height: 250px;
      border-radius: 20px;
      background: #fff;
      padding-bottom: 25px;
      box-shadow: $the-box-shadows;
      margin-bottom: 20px;
      position: relative;
      
      &__img {
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 75%;
        object-fit: cover;
        overflow: hidden;
      }

      &__body {
        padding: 10px 20px 10px 15px;
        line-height: 1.5;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .card-description {
          font-size: 18px;
          font-weight: 300;
        }

        & svg {
          color: #333;
          font-size: 25px;
          margin-top: 8px;
        }
      }
    }

    .card.new::after {
      content: 'Nouveau';
      position: absolute;
      top: 20px;
      right: 20px;
      background: rgb(129, 222, 202);
      color: rgb(84, 142, 129);
      padding: 5px 10px;
      border-radius: 3px;
    }
  }
}