button {
  margin: 30px auto 20px;
  border: none;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  background: rgb(248, 121, 255);
  background: linear-gradient(180deg, rgb(248, 121, 255) 0%, rgb(158, 86, 220) 100%);
  width: 230px;
  height: 50px;
  letter-spacing: .5px;
  box-shadow: $the-box-shadows;
  cursor: pointer;

  &:hover {
    background: rgb(249, 141, 255);
    background: linear-gradient(180deg, rgb(249, 141, 255) 0%, rgb(165, 101, 222) 100%);
    box-shadow: 0px 10px 16px -4px rgba(0, 0, 0, 0.529);
    transition: all .1s ease-out;
  }
}