button {
  margin: 30px auto 20px;
  border: none;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  background: #f879ff;
  background: linear-gradient(180deg, #f879ff 0%, #9e56dc 100%);
  width: 230px;
  height: 50px;
  letter-spacing: .5px;
  box-shadow: $the-box-shadows;
  cursor: pointer;

  &:hover {
    background: #f98dff;
    background: linear-gradient(180deg, #f98dff 0%, #a565de 100%);
    box-shadow: 0px 10px 16px -4px #00000087;
    transition: all .1s ease-out;
  }
}