*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $text-font;
  color: #333;
  background: #fff;
}

h1 {
  font-family: $title-font;
  font-size: 32px;
  letter-spacing: 1.5px;
}