@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin cta-functioning {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 70px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: $the-box-shadows;
  margin-left: -10px;
}

@mixin cta-svg {
  margin: 0 30px;
  font-size: 20px;
}

/* Items animations menu pages*/
@mixin slide-top {
  animation: slide-top .5s ease-in-out forwards;
  opacity: 0;  

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      animation-delay: $i * .2s;
    }
  }
  @keyframes slide-top {
    from {
      transform: translateY(20px);
    }
    
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

/* Title animation menu pages */
@mixin slide-right {
  animation: slide-right .5s ease-in-out forwards;
  opacity: 0;  

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      animation-delay: $i * .2s;
    }
  }
  @keyframes slide-right {
    from {
      transform: translateX(-20px);
    }
    
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}