$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-grey: #f9f9f9;

$title-font: 'Shrikhand', cursive;
$text-font: 'Roboto', sans-serif;

$the-box-shadows: 0px 5px 16px -4px #00000069;